<head>
  <link rel="stylesheet" type="text/css" href="css/reset.css">
</head>

*, *:before, *:after {
  box-sizing: border-box;
}

.box1 {
  width: 400px;
}

body {
  background-color: #333;
  font-family: Arial;
  font-size: 16px;
}

.container {
  margin: 0 auto;
  width: 300px;
}

nav {
  background-color: #000000;
  padding: 10px 0 15px 15px;
  position: fixed;
  width: 435px;
}

.restaurant-list {
  background-color:#dfdfe1;
  padding-top: 57px;
  height: 50%;
  width: 150%;
  margin-bottom: 1px
}

h1 {
  font-family: Arial, sans-serif;
  font-size:120%;
  font-weight: bold;
  text-align: left;
  color:#000000;
  padding-left: 20px;
  padding-top: 20px;
}

h3 {
  font-family: Arial, sans-serif;
  font-size:90%;
  font-weight: semi-bold;
  text-align: left;
  color:#000000;
  padding-top: 5px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.location:hover {
  background-color: #b3b3b3;
}
